.welcome {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.welcome__logo {
  width: 100%;
  max-width: 350px;
  height: auto;
}