.end-game-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url('src/assets/background.svg') center/cover no-repeat; */
  /* background: url('src/assets/background.svg') center/cover no-repeat;
  box-shadow: inset 0 0 100px 30px rgba(0, 0, 0, 0.8); */
  background-color: var(--app-yellow);
}

.end-game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--app-blue);
  gap: 32px;
}

.end-game__message {
  font-size: 20px;
  font-weight: 700;
  color: var(--app-yellow);
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.end-game__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.end-game__stat {
  font-size: 16px;
  font-weight: 400;
  color: var(--app-yellow);
  margin: 0;
}

.end-game__stat-value {
  font-weight: 700;
}

.end-game__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

@media (min-width: 768px) {
    .end-game {
    border-radius: 16px;
    height: 100%;
    max-height: 750px;
    width: 100%;
    max-width: 625px;  
  }

}