.game-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: url('src/assets/background.svg') center/cover no-repeat; */
  /* background: url('src/assets/background.svg') center/cover no-repeat;
  box-shadow: inset 0 0 100px 30px rgba(0, 0, 0, 0.8); */
  background-color: var(--app-yellow);
}

.game {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  background-color: var(--app-blue);
}

@media (min-width: 768px) {
    .game {
    border-radius: 16px;
    height: 100%;
    max-height: 850px;
    width: 100%;
    max-width: 625px;  
  }

}